@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  

  @font-face {
    font-family: 'bahnschrift-light';
    src: url(/fonts/Bahnschrift/BAHNSCHRIFT.TTF) format('truetype');
    font-weight: lighter;
  }
  
}

html,
body {
  background-color: #e6e7ee;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}




